<div class="container grid-container">
    <div class="header centered">
        <h1 class="header-text">About Me</h1>
    </div>
    <div class="image centered">
        <img src="../../../assets/images/avatar.png" alt="avatar">
    </div>
    <div class="about-me centered">
        <p class="text">I am a {{age}} year old software developer from Leeds, aiming to bring concept ideas from
            pen and paper to life. I have worked with, and have a range of experience with different technologies
            from both my time at University
            and across my career. Be sure to visit the projects page for a more in depth view.
            Looking to the future, I am hoping to continue working as a full stack developer, but
            focussing my particular skill set and attention towards front end development.
            I have come to find out of everything, it's what I enjoy the most and love seeing the end results right
            before my eyes. There is no 'typical'
            working day for me. Every day is different. Currently I am
            working
            with Razor pages which includes
            improving and maintaining the front and backend of an application for allowing the purchase, management and tracking of
            event
            tickets.</p>
    </div>
    <div class="skills centered">
        <div>
            <app-skill-card [skillData]="skills[0]"></app-skill-card>
            <app-skill-card [skillData]="skills[1]"></app-skill-card>
            <app-skill-card [skillData]="skills[2]"></app-skill-card>
            <app-skill-card [skillData]="skills[3]"></app-skill-card>
        </div>
        <div>
            <app-skill-card [skillData]="skills[4]"></app-skill-card>
            <app-skill-card [skillData]="skills[5]"></app-skill-card>
            <app-skill-card [skillData]="skills[6]"></app-skill-card>
            <app-skill-card [skillData]="skills[7]"></app-skill-card>
        </div>
    </div>
</div>