section {
    height: 100vh;
    scroll-snap-align: start;
}

.snap-container {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

#help {
    position: fixed;
    bottom: 1em;
    right: 1.5em;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(1px);
    cursor: pointer;
}

@media (min-width: 500px) {
    #help {
        bottom: 1.5em;
        right: 4em;
    }
}
